<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- This is a simple example template that you can edit to create your own custom templates -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="Munchrocket" />
    <title>munchrocket</title>
    </head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0 !important;padding: 0;background: #edf6ff;width: 100% !important;-webkit-text-size-adjust: none">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="border-spacing: 0;font-family: sans-serif;color: #333;height: 100% !important;margin: 0;padding: 0;width: 100% !important">
            <tr>
                <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-spacing: 0;font-family: sans-serif;color: #333;padding-top: 30px;padding-bottom: 30px">
                        <tr>
                            <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                <!-- // Begin Template Header \\ -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-spacing: 0;font-family: sans-serif;color: #333;border-radius: 4px 4px 0 0;background: #f00">
                                    <tr>
                                        <td class="left" style="padding: 0 0 0 20px;font-family: Tahoma, sans-serif;text-align: left">
                                            <!-- // Begin Module: Logo \\ -->
                                            <a href="http://mun.munchrocket.com" style="font-family: Tahoma, sans-serif">
                                                <img src="http://mun.munchrocket.com/img/email/munchrocket-white@2x.png" width="100" height="100" class="logo" alt="Munchrocket" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                            </a>
                                            <!-- // End Module: Logo \\ -->
                                        </td>
                                        <td class="right pr" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px">
                                            <div class="c_white fz_16 header__div" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff;margin-bottom: 10px"><b>Message</b></div>
                                            <!-- @var: category -->
                                            <div class="c_white fz_20" style="font-family: Tahoma, sans-serif;font-size: 20px;color: #fff">from contact form</div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Header \\ -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                <!-- // Begin Template Content \\ -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="content" style="border-spacing: 0;font-family: sans-serif;color: #333;border-left: 1px solid #cdd2d9;border-right: 1px solid #cdd2d9;background: #fff">
                                    <tr>
                                        <td valign="middle" class="heading" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 18px;padding-bottom: 18px;height: 44px">
                                            <!-- // Begin Module: Content Heading \\ -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                <tr>
                                                    <td class="left pl" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px">
                                                        <div class="c_dark fz_20" style="font-family: Tahoma, sans-serif;font-size: 20px;color: #071222"><b>noreply@munchrocket.com</b></div>
                                                    </td>
                                                    <td class="right pr" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px">
                                                        <img src="http://mun.munchrocket.com/img/email/details-icon@2x.png" width="45" height="45" class="details-img" alt="Детали платежа" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // End Module: Content Heading \\ -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="middle" class="main" style="padding: 0;font-family: Tahoma, sans-serif;border-top: 1px dashed #cdd2d9;border-bottom: 1px dashed #cdd2d9;padding-top: 17px;padding-bottom: 17px">
                                            <!-- // Begin Module: Content Main \\ -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                <tr>
                                                    <td class="left pl main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_gray fz_18" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #6e7278">Name:</div>
                                                    </td>
                                                    <td class="right pr main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_dark fz_22" style="font-family: Tahoma, sans-serif;font-size: 22px;color: #071222">${name}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left pl main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_gray fz_18" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #6e7278">Email:</div>
                                                    </td>
                                                    <td class="right pr main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_dark fz_22" style="font-family: Tahoma, sans-serif;font-size: 22px;color: #071222">${from}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left pl main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_gray fz_18" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #6e7278">Number:</div>
                                                    </td>
                                                    <td class="right pr main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_dark fz_22" style="font-family: Tahoma, sans-serif;font-size: 22px;color: #071222">${number}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left pl main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_gray fz_18" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #6e7278">Message:</div>
                                                    </td>
                                                    <td class="right pr main__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px;padding-top: 17px;padding-bottom: 17px">
                                                        <div class="c_dark fz_22" style="font-family: Tahoma, sans-serif;font-size: 22px;color: #071222">${text}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // End Module: Content Main \\ -->
                                        </td>
                                    </tr>


                                </table>
                                <!-- // End Template Content \\ -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                <!-- // Begin Template Footer \\ -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-spacing: 0;font-family: sans-serif;color: #333;border-radius: 0 0 4px 4px;background: #f00">
                                    <tr>
                                        <td class="footer__content pl pr" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px">
                                            <div class="fz_18 c_white" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #fff">We answer for your all questions</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="footer__border" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 5px;padding-bottom: 30px;border-bottom: 1px dashed rgba(255, 255, 255, 0.2)">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                <tr>
                                                    <td valign="middle" class="pl" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px">
                                                        <img src="http://mun.munchrocket.com/img/email/phone.png" alt="" width="36" height="36" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                                    </td>
                                                    <td valign="middle" style="padding: 0;font-family: Tahoma, sans-serif">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                            <tr>
                                                                <td class="footer__phone" style="padding: 0;font-family: Tahoma, sans-serif;padding-bottom: 5px">
                                                                    <div class="fz_14 c_light-white" style="font-family: Tahoma, sans-serif;font-size: 14px;color: rgba(255, 255, 255, 0.7)">
                                                                        Phone
                                                                    </div>
                                                                </td>
                                                                <td class="footer__phone" style="padding: 0;font-family: Tahoma, sans-serif;padding-bottom: 5px">
                                                                    <div class="fz_14 c_light-white" style="font-family: Tahoma, sans-serif;font-size: 14px;color: rgba(255, 255, 255, 0.7)">
                                                                        Email
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 0;font-family: Tahoma, sans-serif">
                                                                    <div class="fz_16 c_white" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff">
                                                                        +16047814625
                                                                    </div>
                                                                </td>
                                                                <td style="padding: 0;font-family: Tahoma, sans-serif">
                                                                    <div class="fz_16 c_white" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff">
                                                                        hello@munchrocket.com
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="middle" class="footer__content pl pr" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px">
                                            <!-- // Begin Module: Footer \\ -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="540" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                <tr>
                                                    <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Become Rocket Courier</a></td>
                                                    <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">About Us</a></td>
                                                    <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Contact Us</a></td>
                                                    <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Support</a></td>
                                                    <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Become Restaurant Partner</a></td>
                                                </tr>
                                            </table>
                                            <!-- // End Module: Footer \\ -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Footer \\ -->
                            </td>
                        </tr>

                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>

</html>
