<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <!-- This is a simple example template that you can edit to create your own custom templates -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="MunchRocket" />
        <title>MunchRocket</title>
    </head>

    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0 !important;padding: 0;background: #edf6ff;width: 100% !important;-webkit-text-size-adjust: none">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="border-spacing: 0;font-family: sans-serif;color: #333;height: 100% !important;margin: 0;padding: 0;width: 100% !important">
                <tr>
                    <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-spacing: 0;font-family: sans-serif;color: #333;padding-top: 30px;padding-bottom: 30px">
                            <tr>
                                <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                    <!-- // Begin Template Header \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-spacing: 0;font-family: sans-serif;color: #333;border-radius: 4px 4px 0 0;background: #ff0000">
                                        <tr>
                                            <td class="left" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left">
                                                <!-- // Begin Module: Logo \\ -->
                                                <a href="http://mun.munchrocket.com" style="font-family: Tahoma, sans-serif">
                                                    <img src="http://mun.munchrocket.com/img/email/munchrocket-white@2x.png" width="100" height="100" class="logo" alt="Munchrocket" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                                </a>
                                                <!-- // End Module: Logo \\ -->
                                            </td>
                                            <td class="right pr" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px">
                                                <div class="c_white fz_16 header__div" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff;margin-bottom: 10px"><b>From restaurant ${restaurant}</b></div>
                                                <!-- @var: category -->
                                                <div class="c_white fz_20" style="font-family: Tahoma, sans-serif;font-size: 20px;color: #fff">Order: ${id}</div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                    <!-- // Begin Template Content \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="content" style="border-spacing: 0;font-family: sans-serif;color: #333;border-left: 1px solid #cdd2d9;border-right: 1px solid #cdd2d9;background: #fff">
                                        <tr>
                                            <td valign="middle" class="heading" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 18px;padding-bottom: 18px;height: 44px">
                                                <!-- // Begin Module: Content Heading \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td class="left pl" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px">
                                                            <div class="c_dark fz_20" style="font-family: Tahoma, sans-serif;font-size: 20px;color: #071222"><b>Details</b></div>
                                                        </td>
                                                        <td class="right pr" style="padding: 0;font-family: Tahoma, sans-serif;text-align: right;padding-right: 30px">
                                                            <img src="http://mun.munchrocket.com/img/email/details-icon@2x.png" width="45" height="45" class="details-img" alt="Details" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Content Heading \\ -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" class="alseco__block" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 20px;padding-bottom: 20px;border-top: 1px dashed #cdd2d9">
                                                <!-- // Begin Module: Content Main \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td class="alseco__row" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 10px;padding-bottom: 10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Client</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var accountInfo -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${client}</div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="alseco__row" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 10px;padding-bottom: 10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td width="33%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Order №</div>
                                                                    </td>
                                                                    <td width="33%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Address</div>
                                                                    </td>
                                                                    <td width="33%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Delivery</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var accountId -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${id}</div>
                                                                    </td>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var provInvoiceId -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${address}</div>
                                                                    </td>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var status -->
                                                                        <div class="c_green fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #1ec68b">${delivery}</div>
                                                                        <!-- 
                                                                        <div class="c_red fz_16">Не оплачено</div> -->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="alseco__row" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 10px;padding-bottom: 10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td width="33%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Day</div>
                                                                    </td>
                                                                    <td width="33%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Time</div>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var invoiceMonth -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${day}</div>
                                                                    </td>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var formedDate -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${time}</div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Content Main \\ -->
                                            </td>
                                        </tr>
                                        #foreach( $orderDetail in $orderDetails )
                                        <tr>
                                            <td valign="middle" class="alseco__block" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 20px;padding-bottom: 20px;border-top: 1px dashed #cdd2d9">
                                                <!-- // Begin Module: Content Main \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td class="alseco__row" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 10px;padding-bottom: 10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td class="left pl" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px">
                                                                        <div class="fz_18 c_dark" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #071222">
                                                                            <!-- @var detail[name] -->
                                                                            <b>${orderDetail.title}</b>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="alseco__row" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 10px;padding-bottom: 10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td width="25%" class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Note</div>
                                                                    </td>
                                                                    <td width="25%" class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Additional</div>
                                                                    </td>
                                                                    <td width="25%" class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var monthName -->
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Price</div>
                                                                    </td>
                                                                    <td width="25%" class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <div class="c_gray fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Quantity</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left pl alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var detail[current] -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${orderDetail.note}</div>
                                                                    </td>
                                                                    <td class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var detail[previous] -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${orderDetail.additional}</div>
                                                                    </td>
                                                                    <td class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var detail[difference] -->
                                                                        <div class="c_dark fz_16" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #071222">${orderDetail.unit_price}</div>
                                                                    </td>
                                                                    <td class="left alseco__cell" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-top: 5px;padding-bottom: 5px">
                                                                        <!-- @var detail[sum] -->
                                                                        <div class="c_dark fz_18" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #071222"><b>${orderDetail.quantity}</b></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Content Main \\ -->
                                            </td>
                                        </tr>
                                        #end

                                        <tr>
                                            <td valign="middle" class="alseco__end" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 20px;border-top: 1px dashed #cdd2d9">
                                                <!-- // Begin Module: Content Main \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td valign="middle" width="75%" class="pl left stamp" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-left: 30px;padding-bottom: 15px">

                                                        </td>
                                                        <td valign="middle" style="padding: 0;font-family: Tahoma, sans-serif">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td class="left alseco__total " style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-bottom: 5px">
                                                                        <div class="fz_16 c_gray" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Total</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left alseco__total" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-bottom: 5px">
                                                                        <!-- @var total sum -->
                                                                        <div class="fz_18 c_dark" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #071222">${amount}</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left alseco__total alseco__total-middle" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-bottom: 5px;padding-top: 5px">
                                                                        <div class="fz_16 c_gray" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #6e7278">Status</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="left alseco__status" style="padding: 0;font-family: Tahoma, sans-serif;text-align: left;padding-bottom: 15px">
                                                                        <!-- @var status -->
                                                                        <div class="fz_18 c_green" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #1ec68b">$status</div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Content Main \\ -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Content \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0;font-family: Tahoma, sans-serif">
                                    <!-- // Begin Template Footer \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-spacing: 0;font-family: sans-serif;color: #333;border-radius: 0 0 4px 4px;background: #f00">
                                        <tr>
                                            <td class="footer__content pl pr" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px">
                                                <div class="fz_18 c_white" style="font-family: Tahoma, sans-serif;font-size: 18px;color: #fff">We answer for your all questions</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="footer__border" style="padding: 0;font-family: Tahoma, sans-serif;padding-top: 5px;padding-bottom: 30px;border-bottom: 1px dashed rgba(255, 255, 255, 0.2)">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td valign="middle" class="pl" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px">
                                                            <img src="http://mun.munchrocket.com/img/email/phone.png" alt="" width="36" height="36" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize" />
                                                        </td>
                                                        <td valign="middle" style="padding: 0;font-family: Tahoma, sans-serif">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                                <tr>
                                                                    <td class="footer__phone" style="padding: 0;font-family: Tahoma, sans-serif;padding-bottom: 5px">
                                                                        <div class="fz_14 c_light-white" style="font-family: Tahoma, sans-serif;font-size: 14px;color: rgba(255, 255, 255, 0.7)">
                                                                            Phone
                                                                        </div>
                                                                    </td>
                                                                    <td class="footer__phone" style="padding: 0;font-family: Tahoma, sans-serif;padding-bottom: 5px">
                                                                        <div class="fz_14 c_light-white" style="font-family: Tahoma, sans-serif;font-size: 14px;color: rgba(255, 255, 255, 0.7)">
                                                                            Email
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding: 0;font-family: Tahoma, sans-serif">
                                                                        <div class="fz_16 c_white" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff">
                                                                            +16047814625
                                                                        </div>
                                                                    </td>
                                                                    <td style="padding: 0;font-family: Tahoma, sans-serif">
                                                                        <div class="fz_16 c_white" style="font-family: Tahoma, sans-serif;font-size: 16px;color: #fff">
                                                                            hello@munchrocket.com
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" class="footer__content pl pr" style="padding: 0;font-family: Tahoma, sans-serif;padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px">
                                                <!-- // Begin Module: Footer \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="540" style="border-spacing: 0;font-family: sans-serif;color: #333">
                                                    <tr>
                                                        <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Become Rocket Courier</a></td>
                                                        <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">About Us</a></td>
                                                        <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Contact Us</a></td>
                                                        <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Support</a></td>
                                                        <td valign="middle" class="footer__item" style="padding: 0;font-family: Tahoma, sans-serif"><a class="fz_14 c_blue" href="#" style="font-family: Tahoma, sans-serif;font-size: 14px;color: #fff">Become Restaurant Partner</a></td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Footer \\ -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>

</html>
